#mapid{
    
  height: 450px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: rgb(2, 252, 156);
  

}
#container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
} 
