/*global*/
.fijo{
    position: fixed;
    z-index: 100;
    background-image:url(/css/img/Tagetes_Closeup_555789_1920x1200.jpg);
    width: 100%;
    height: 180px;
    color: aliceblue;
    
}

/*titulo*/
#titulo{
    
    font-family: inherit;
    color: aliceblue;
    
}
.nom{
    font-size: 22px;
}

/*barra*/


.globe{
    background-color: aliceblue;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-top: 180px;
    float: left;
    padding: 0%;
}
ul,ol{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    display: block;
    
    
}

.home a{
    color: #f25b0f;
    list-style: none;
    margin-left: 9px;
    margin-top: 5px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 8%;
    border: solid;
    
}
.home :hover{
    
    -moz-transform: scale()0.2;
    -webkit-transform: scale(0.2);
    transform: scale(1.2);
    color: #EC4B2B;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 10px;
    margin-left: 15px;
    padding-left: 0px;
}
.nav :hover > ul{
    background: aliceblue;
    display: block;
    margin: auto;
    padding: auto;
}
.ubicacion a{
    margin-left: 40px;
    margin-top: 15px;
    color: rgb(155, 155, 155);
}
.ubicacion :hover{
    color: #f25b0f;
}
.opcion1 a{
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(155, 155, 155);
}
.opcion1 :hover{
    color: #f25b0f;
}
.opcion2 a{
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(155, 155, 155);
}
.opcion2 :hover{
    color: #f25b0f;
}

.opcion3 a{
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(155, 155, 155);
}
.opcion3 :hover{
    color: #f25b0f;
}

.informacion a{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0%;
    margin-top: 15px;
    display: block;
    color: rgb(155, 155, 155);
}
.informacion :hover{
    color: #f25b0f;
}

.grupo a{
    margin-left: 255px;
    margin-top: 15px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    background:#EC4B2B;
    font-size: 15px;
    padding: 3px;
    border-radius: 10px;
    border: solid;
    border: rgb(44, 44, 44);
}
